*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{
    display: flex;
    justify-content: center;
    margin: 1rem;
    text-shadow: 3px 1px 18px rgba(66, 68, 90, 1);
}
.section{
    display: grid;
    margin-top: 5rem;
    place-content: center;
    gap: 1rem;
}

.container-form{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    cursor: pointer;
    font-size: 1em;
}

.container-form form input,
.container-form form button{
    height: 2rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.container-form form button:hover{
    background-color: rgb(97, 192, 93);
    color: #fff;
    transition: all .5s ease;    
}


.container-listado{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    height: 20rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    cursor: pointer;

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}


hr{
    width: 100%;
    height: 1px;
}

}